img{
	width:100%;
	display: block;
}
body{
	background-color: #f5f5f5;
}
.container{
	width:100%;
	max-width:640px;
	min-width: 320px;
	margin:0 auto;
}
.header{
	width:100%;
	max-width:640px;
	min-width: 320px;
	background-color: #fff;
	position: fixed;
}
.header .top{
	padding:7px 0;
	display: flex;
}
.header .top a.logo{
	flex-basis:10%;
	text-align: center;
	height:33px;
}
.header .top .logo{
	background: url(../images/apk8-logo.png)no-repeat center center;
	background-size: 16px 21.5px;
}
.header .top .menu{
	background: url(../images/r-icon-pre.png)#f6f6f6 no-repeat left bottom;
	background-size: 33px auto;
	border-radius: 50%;
	width:33px;
	margin:0 auto;
}
.header .top div{
	flex-basis: 80%;
	height:33px;
	position: relative;
	overflow: hidden;
}
.header .top div input{
	width:100%;
	height:33px;
	line-height: 33px;
	color:#757575;
	background: #f6f6f6;
	border-radius: 18px;
	padding-left:10px;
	box-sizing: border-box;
}
.header .top div button{
	position: absolute;
	right:0;
	top:0;
	height:33px;
	width:33px;
	background-image: url(../images/search.png);
	background-size: 16px 16px;
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    background-position: 7px 7px;
	border:none;
	border-radius: 50%;
}
/* 首页栏 */
.header .bottom{
	display: flex;
	padding:15px 0;
}
.header .bottom a{
	flex: 1;
	text-align: center;
	font-size: 16px;
	color:#333;
}
.header .bottom .active{
	color:#45ABFF;
	position: relative;
}
.header .bottom .active span{
	position: absolute;
	left:34px;
	top:30px;
	height:2px;
	display: block;
	width:34%;
	background: #45ABFF;
}
.current-location{
	margin-top:98px;
	color:#999;
	width: 100%;
	padding:5px 0;
	display: inline-block;
}
/* 排行分类 */
.rank{
	margin-bottom: 10px;
    border-top: 1px solid #dbe1ec;
    border-bottom: 1px solid #dbe1ec;
    background: #fff;
}
.rank img{
	width: 100%;
    height: 200px;
}
.rank ul{
	display: flex;
    margin-top: -36px;
}
.rank ul li{
	flex:1;
    height: 36px;
    line-height: 36px;
    border-radius: 20px 20px 0 0;
    background: #e0f1f4;
    text-align: center;
    font-size: 14px;
}
.rank ul li.on{
	background: #fff;
	box-shadow: 0 -2px 2px rgba(0, 143, 219, 0.6);
}
.item-bottom a{
	display: flex;
	border-bottom: 1px solid #DBE1EC;
	padding:10px 0 10px 40px;
	background: #fff;
	position: relative;
	box-sizing: border-box;
}
.item-bottom a .num{
	position: absolute;
    left: 10px;
    top: 28.5px;
    width: 22px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 16px;
    color: #999;
    background-size: 100%;
	padding:0;
}
.item-bottom a .one{
	font-size: 0;
	background-image: url(../images/list_no_1.png);
}
.item-bottom a .two{
	background-image: url(../images/list_no_2.png);
}
.item-bottom a .three{
	background-image: url(../images/list_no_3.png);
}
.item-bottom a img{
	flex-basis: 10%;
	padding-left:8px;
	width:65px;
	height:65px;
}
.item-bottom a div{
	flex-basis: 76%;
	box-sizing: border-box;
	padding-left:10px;
}
.item-bottom a div p:nth-child(1){
	font-size: 16px;
}
.item-bottom a div p:nth-child(2){
	color:#999;
	padding:5px 0;
	font-size: 13px;
}
.item-bottom a div p:nth-child(3){
	color:#45abff;
	font-size: 13px;
}
.item-bottom a span{
	flex-basis: 7%;
}
.item-bottom a span p{
	display: block;
	width:60px;
	hegiht:30px;
	background: #45ABFF;
	border-radius: 4px;
	margin:auto auto;
	line-height: 30px;
	text-align: center;
	color:#fff;
	font-size: 15px;
	margin-top:10px;
}
.item-bottom>p{
	display: block;
	height: 40px;
    line-height: 40px;
    background: #fff;
    text-align: center;
    font-size: 14px;
    color: #45abff;
}
/* 热门排行 */
.hot-rank{
	background: #fff;
}
.recommed{
	display: flex;
	margin-top:12px;
	border-top: 1px solid #dbe1ec;
	background-color: #fff;
}
.recommed .title{
	width:100%;
	display: block;
	margin-bottom: 1px;
	height:50px;
	box-sizing: border-box;
	border-bottom: 1px solid #DBE1EC;
	line-height: 50px;
}
.recommed .title span{
	float: left;
	font-size: 18px;
	border-left: 5px solid #45abff;
	padding-left:10px;
	margin-top:15px;
	line-height: 20px;
	height:22px;
}
.recommed .title a{
	float: right;
	color:#999;
	font-size: 15px;
	padding-right:10px;
}
.recommed .title a.color{
	color:#45ABFF;
}
.recommed .title a i{
	position: relative;
    top: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 3px;
    background-image: url(../images/color-icon.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -302px;
}
.hot-rank .type-list{
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 10px 0;
}
.hot-rank .type-list li{
	flex: 0 0 48%;
    width: 48%;
    height: 34px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 34px;
    border: 1px solid #dbe1ec;
    border-radius: 8px;
}

.foot{
	display: flex;
	padding-top:82px;
	margin-top:10px;
	background: #333;
}
.foot a{
	height:42px;
	flex:1;
	text-align: center;
	line-height: 42px;
	color:#45ABFF;
	font-size: 14px;
	box-sizing: border-box;
	border-top:1px solid #444;
	border-right:1px solid #444;
}